.main { 
  width: 100vw; 
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 100px;  
  padding-top: 2rem; 
  padding-left: 5rem; 
  padding-right: 5rem; 
  align-items: center; 
}

.card {
  padding: 20px; 
  min-width: 345px; 
  height: 100%;  
}

.card:hover { 
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.navbar { 
  background-color: #A7D2CB; 
  height: 100px; 
  width: 100vw; 
  font-size: 50px;   
  font-family: 'Quicksand', sans-serif;
  font-family: 'Yellowtail', cursive; 
  position: fixed; 
  top: 0; 
  z-index: 1;  
}

.logo { 
  display: flex; 
  align-items: center;
  padding: 10px;  
}
